.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

/* new */
.WrapperButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.WrapperButton *:not(span) {
  margin-right: 30px !important;
}
p, a {
  color: #90caf9;
  font-size: 16px;
}
input {
  color: #90caf9 !important;
}